<%= turbo_frame_tag "cookie-consent-modal" do %>
  <% currentPreferences = cookies[:cookie_preferences] ? cookies[:cookie_preferences] : false %>
  <%= form_with url: cookie_consent_banner.consents_path, method: :post, local: false, html:{class: "divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-100 shadow-lg max-w-md fixed left-0 bottom-0 z-999 m-4"} do |f| %>
    <div class="px-4 py-5 sm:px-6 font-semibold">
      <%= t("cookie_consent_banner_modal.title") %>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <div><%= t("cookie_consent_banner_modal.description")%></div>
      <% if t("cookie_consent_banner_modal.categories") %>
        <dl role="list" class="divide-y divide-gray-200">
        <% t("cookie_consent_banner_modal.categories").each_with_index do |category, index| %>
          <li class="flex flex-col">
            <div class="flex flex-grow items-baseline justify-between text-left gap-x-4 py-2">
              <div class="group grid size-4 grid-cols-1">
                <%= check_box_tag "cookie_preferences[]", index, ((currentPreferences && currentPreferences.include?(index.to_s)) ? true : (index === 0) ? true : false), id: "cookie_preferences_#{index}", class: "col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-blue-600 checked:bg-blue-600 indeterminate:border-blue-600 indeterminate:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto" %>
                <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25">
                  <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
                  <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100" />
                </svg>
              </div>
              <div class="flex flex-col flex-grow">
                <%= label_tag "cookie_preferences_#{index}", category[1][:name], class: "font-medium text-gray-900 select-none cursor-pointer"%>
                <div class="font-light text-sm"><%= category[1][:description] %></div>
              </div>
              <div>
                <button type="button" command="--toggle" commandfor="cookie_consent_banner_preferences_<%= index %>" class="flex w-full items-start justify-between text-left text-gray-900">
                  <span class="flex h-7 items-center">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                      <path d="M12 6v12m6-6H6" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                      <path d="M18 12H6" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <el-disclosure id="cookie_consent_banner_preferences_<%= index %>" hidden class="contents">
              <dd class="my-2 px-8 text-base/7 text-gray-600 flex flex-col">
                <% t("cookie_consent_banner_modal.categories.#{category[0]}.cookies").each do |cookie| %>
                  <ul class="divide-y divide-gray-200 text-sm">
                    <li class="grid grid-cols-4">
                      <span class="col-start-1 font-medium"><%= cookie[:name] %></span>
                      <span class="col-start-2 col-span-3 font-light"><%= cookie[:description] %></span>
                    </li>
                  </ul>
                <% end %>
              </dd>
            </el-disclosure
          </li>
        <% end %>
        </dl>
      <% end %>
    </div>
    <div class="px-4 py-4 sm:px-6 flex justify-between">
      <div>
        <!-- The submit button value of "customized" will take the cookie values based on the checkboxes. -->
        <%= f.button t("cookie_consent_banner_modal.buttons.save_preferences"), type: :submit, name: :consent_type, value: :customized, class: "rounded-md px-2.5 py-1.5 text-sm font-semibold text-blue-600 hover:bg-gray-200 hover:outline-1 hover:outline-blue-600 cursor-pointer" %>
      </div>
      <div>
        <!-- The submit button value of "required_only" will set the cookie value to be "0" which is usually the index for the required cookies. -->
        <%= f.button t("cookie_consent_banner_modal.buttons.necessary"), type: :submit, name: :consent_type, value: :required_only, class: "rounded-md px-2.5 py-1.5 text-sm font-semibold text-blue-600 shadow-xs hover:bg-gray-300 outline-1 outline-blue-600 cursor-pointer" %>
        <!-- The submit button value of "accept_all" will set the cookie value to be an array of all indexes comma separated which will accept all buckets available. -->
        <%= f.button t("cookie_consent_banner_modal.buttons.accept_all"), type: :submit, name: :consent_type, value: :accept_all, class: "rounded-md bg-blue-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-xs hover:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 cursor-pointer" %>
      </div>
    </div>
  <% end %>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<% end %>